@model EKartMVCApp.Models.Users

@{
    ViewBag.Title = "Change Your Password";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}
<head>
    <title>Reset Your Password</title>
    <style>
        #btnChangePassword {
            color: white;
            background-color: crimson;
            height: 40px;
            border-radius: 13px;
            text-wrap: normal;
        }

        body {
            background-image: url('../../Content/Backgrounds/img (4).jpg');
        }
        #page{
            color:white;
        }

        #btnCancel {
            color: white;
            background-color: crimson;
            height: 40px;
            width: 100px;
            border-radius: 13px;
            text-wrap: normal;
        }

        #labels {
            color: white;
        }

        #labelHeading {
            color: white;
            border: double;
            font-family: 'Comic Sans MS';
        }
    </style>

</head>
<body>
    @using (Html.BeginForm("ChangePassword", "Customer"))
    { 
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    &nbsp;
                </div>
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-9">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8 text-center col-lg-offset-1">
                                    <h1 id="labelHeading">Change Your Password</h1>
                                    &nbsp;
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 text-right" id="labels">
                                    Email ID:
                                </div>
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.EmailId, new { htmlAttributes = new {@Value = ViewBag.Email, @class = "form-control", @readonly = "readonly"} })                                    
                                </div>
                            </div>
                            <br />

                            <div class="row">
                                <div class="col-md-3 text-right" id="labels">
                                    Old Password:
                                </div>
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.OldPassword, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <br />

                            <div class="row">
                                <div class="col-md-3 text-right" id="labels">
                                    Password:
                                </div>
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.UserPassword, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.UserPassword, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <br />

                            <div class="row">
                                <div class="col-md-3 text-right" id="labels">
                                    Confirm Password:
                                </div>
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-3 text-right">
                                </div>
                                <div class="col-md-7">
                                    <input type="submit" class="btn" value="Change Password" id="btnChangePassword"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</body>
<div>
    <h4><b>@Html.ActionLink("Back to Home", "ViewCategories", "Category", null, new { @style = "color:#000aaa;" })</b></h4>
</div>
