@model IEnumerable<EKartMVCApp.Models.ShoppingCart>

@{
    ViewBag.Title = "My Cart";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}
<head>
    <style>
       #btnCheckOut{
            color: white;
            background-color: crimson;
            height: 40px;
            width: 100px;
            border-radius: 13px;
            text-wrap: normal;
        }
        body {
            //background-image: url('../../Content/Backgrounds/img24.jpg');
        }

        #tableView{
            background-color:white;
        }
    </style>
</head>
<body>
    <div class="col-md-3">
    </div>
    <div class="col-md-7">
        <center><h1>Your Cart</h1></center>
    </div>
    <h4>Welcome: @Session["username"]</h4>
    <b>@Html.ActionLink("Update Profile", "UpdateCustomerDetails", "Customer")</b> ||
    <b>@Html.ActionLink("Change Password", "ChangePassword", "Customer")</b> ||
    <b>@Html.ActionLink("Recent Orders", "GetRecentPurchases", "Purchase")</b>
    <hr />
    <br />
    <p>
        <h4><b>@Html.ActionLink("Back To Categories", "ViewCategories", "Category", null, new { @style = "color:#000aaa;" })</b></h4>
    </p>
    <table class="table" border="1" id="tableView">
        <tr>
            <th>
                <h4><b>Product Name</b></h4>
            </th>
            <th>
                <h4><b>Price</b></h4>
            </th>
            <th>
                <h4><b>Quantity</b></h4>
            </th>
            <th>
                <h4><b>Product Id</b></h4>
            </th>
            <th>
                <h4><b>Category Id</b></h4>
            </th>
            <th>
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryId)
                </td>
                <td>
                    @Html.ActionLink("+1 Quantity", "EditQuantity", "Product", new {id=item.ProductId}, null) |
                    @Html.ActionLink("Remove","DeleteFromCart","Product",new {id=item.ProductId}, null)
                </td>
            </tr>
        }
    </table>
        <table border="0">
            <tr>
                <th><h3><b>Total Price:$ </b></h3></th>
                <td>
                    <p><h3 class="text-center"><b> @ViewBag.TotalPrice</b></h3></p>
                </td>
            </tr>
        </table>
    <h4><b>@Html.ActionLink("Proceed To Checkout", "CheckOut", "Purchase", null, new { @style = "color:#000aaa;" })</b></h4>
</body>
